{%  extends "base.html" %}

{% block Title %}Slowfit bike fit tracker - Frames{% endblock Title %}

{% block Body %}
    <div class="row">
        <h2>Frames</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th class="text-center">Model Year(s)</th>
                <th class="text-center">Frame</th>
                <th class="text-center">Type</th>
                <th class="text-center">Material</th>
                <th class="text-center">Description</th>
                <th class="text-center">Webpage</th>
            </tr>
            {% for frame in object_list %}
                <tr>
                    <td class="text-center" style="width: 60px">
                        {% if frame.yearFrom %}
                            <a href="{% url 'year-view' year=frame.yearFrom %}">{{ frame.yearFrom }}</a>
                            {% if frame.yearTo and frame.yearTo != frame.yearFrom%}
                                -
                            {% endif %}
                        {% endif %}
                        {% if frame.yearTo and frame.yearTo != frame.yearFrom%}
                            <a href="{% url 'year-view' year=frame.yearTo %}">{{ frame.yearTo }}</a>
                        {% endif %}
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a href="{% url 'frame-view' frame.id %}">{{ frame.name }}</a>
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a href="{% url 'biketype-view' frame.bikeType.id %}">{{ frame.bikeType.name }}</a>
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a href="{% url 'material-view' frame.material.id %}">{{ frame.material.name }}</a>
                    </td>
                    <td class="text-center">{{ frame.description }}</td>
                    <td class="text-center" style="vertical-align: middle">{{  frame.URL|urlizetrunc:30 }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6"><i>No frames yet</i></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock Body %}
