{% extends 'base.html' %}

{% block Title %}Slowfit bike fit tracker{% endblock %}

{% block Body %}
<div>
    <h2>Data Import</h2>

    {% if initiated %}
        <h3>Import started. Please check back here for results</h3>
    {% else %}
        <form action="{% url 'import' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="folder" value="bikedata"/>
{#            <input type="hidden" name="sheetid" value="1Udfg-EYl2q0JPPvfhUrA6_3HPDOFXX8wBscjtPjBOR8"/>#}
{#            <input type="hidden" name="refresh" value="yes!"/>#}
            <button type="submit">Start Import</button>
        </form>
    {% endif %}
    {% for import in imports %}
        {% if forloop.first %}
            <div class="table-responsive">
                <h2>Import Log</h2>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="text-center">Timestamp</th>
                        <th class="text-center">Reference</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">#Frames</th>
                        <th class="text-center">Log</th>
                    </tr>
        {% endif %}
        <tr>
            <td class="text-center">{{import.timestamp | date:"d-m-Y H:i:s"}}</td>
            <td class="text-center">{{import.reference}}</td>
            <td class="text-center">{{import.status}}</td>
            <td class="text-center">{{import.frameCount}}</td>
            <td class="text-center"><pre>{{import.Log}}</pre></td>
        </tr>
        {%  if forloop.last %}
                </table>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
